body {
    margin: 0;
    font-family: 'Fira Code',Arial, Helvetica, sans-serif;
    background-color: #c6c6d2;
  }

  a, a:visited, a:hover, a:active {
   color: blueviolet;
   text-decoration:  none;
  }
 
  hr {
    background:  #3A3D57;
  }

  .container {
    margin: 10px;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #5755aa;
    margin: auto;

  }
  
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  footer {
    text-align: center;
    color: black;
  }

  .years {
    margin-bottom: 8%;
  }

  /* 
#5755aa
#8280ff
#bbb9ff
#d2d2e0
#a5a5c0
#7878a1
  */