body {
    margin: 0;
    font-family: 'Fira Code',Arial, Helvetica, sans-serif;
  }
 
  hr {
    background:  #3A3D57;
  }

  .container {
    margin: 10px;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
    margin: auto;

  }
  
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  footer {
    text-align: center;
  }