body {
    margin: 0;
    font-family: 'Fira Code',Arial, Helvetica, sans-serif;
    background-image: url('../resources/Images/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg'); /*Image by Vincentiu Solomon https://unsplash.com/@vincentiu*/  }

  a, a:visited, a:hover, a:active {
   color: blueviolet;
   text-decoration:  none;
  }
 
  hr {
    background:  #3A3D57;
  }

  .container {
    margin: 2%;
    padding: 2%;
    background-color: #c6c6d2;
    border-radius: 25px;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #5755aa;
    margin: auto;

  }
  
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 150%;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .ftr {
    text-align: center;
    color: black;
    margin-bottom: 2%;
  }
  .ftr a {
    color: white;
    font-size: 150%;
  }

  .years {
    margin-bottom: 1%;
  }

  
  /* 
#5755aa
#8280ff
#bbb9ff
#d2d2e0
#a5a5c0
#7878a1
  */